.blog_content {
    background: #f0f8ff;
    font-size: medium;
    font-family: "Comic Sans MS", serif;
    font-weight: normal;
    line-height: normal;
    text-align: justify;
    text-indent: 10px;
    word-spacing: normal;
}

.blog_post {
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
    border: 1px solid #ff0000;
}

.header_img {
    margin: 0;
    height: inherit;
    width: inherit;
}