.header_img{
    height: inherit;
    width: inherit;
}

#header_div{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inline_div{
    height: inherit;
    width: inherit;
}
#left_img_div, #left_cool{
    margin-left: 20%;
}
#header{
}
#right_img_div, #right_cool{
    margin-right: 20%;
}

#main_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#my_blog{
    text-align: center;
}

#main_img_div {
    width: 75%;
    display: flex;
    justify-content: center;
}

#main_img{
    width: inherit;
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, 0.29));
}

.blog_post{
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
    border: 1px solid #ff0000;
}

.blog_content{
    background: #f0f8ff;
    font-size: medium;
    font-family: "Comic Sans MS", serif;
    font-weight: normal;
    line-height: normal;
    text-align: justify;
    text-indent: 10px;
    word-spacing: normal;
}

.footer_div{
    margin-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
    border-top: 1px solid black;
}

#black_text{
    background-color: black;
}